.Shop_background_image {
    background-image: url("C:\Users\Winte\assignment3\public\Cat_2_Orange.jpg"); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image */
    height: 80vh;
  }
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
    text-align: left;
  }
  
  .overlay-text h1 {
    font-size: 36px;
    color: white;
    margin-bottom: 10px;
  }
  
  .overlay-text p {
    font-size: 20px;
    color: white;
  }
  /* Default styles for larger screens */
  .search-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  #Thankyou {
    font-size: 30px;
    text-align: center;
  }
  @media (max-width: 574px) {
    .Shop_background_image {
      max-width: 100%;
    }
    .overlay-text {
      position: absolute;
      top: 80%;
      left: 23%;
      transform: translate(-50%, -50%);
      text-align: left;
    }
    .overlay-text h1 {
      font-size: 20px;
      color: white;
      margin-bottom: 10px;
    }
  
    .overlay-text p {
      font-size: 14px;
      color: white;
    }
    .search-container {
      flex-direction: column;
      align-items: stretch;
    }
    #Thankyou {
      font-size: 20px;
    }
  }
  @media (max-width: 450px) {
    .overlay-text {
      position: absolute;
      top: 68%;
      left: 30%;
      transform: translate(-50%, -50%);
      text-align: left;
    }
    .overlay-text h1 {
      font-size: 18px;
      color: white;
      margin-bottom: 10px;
    }
  
    .overlay-text p {
      font-size: 12px;
      color: white;
    }
  }
  